.paginationCont {
  display: flex;
  justify-content: center;
  padding-top: 5rem;

  .paginationBtnsCont {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 2rem;

    @media (max-width: 72em) {
      grid-template-columns: repeat(8, 1fr);
    }

    @media (max-width: 34em) {
      grid-template-columns: repeat(4, 1fr);
    }

    .paginationBtn {
      display: inline-block;
      padding: 1.5rem;
      border: none;
      border: 1px solid #fa8f45;
      border-radius: 2px;
      background: #fef1e8;
      cursor: pointer;

      &:hover {
        background-color: #fb9d5c;
        color: #fff;
      }
    }

    .activeBtn {
      background-color: #fa8f45;
      color: #fff;
    }
  }
}
