h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.movieCastCont {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;
}

.castImgCont {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 0.5rem;

  .castImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.characterName {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
