.trendingMovies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4rem;
  list-style: none;
}

.trendingImg {
  width: 100%;
  height: auto;
  display: block;
}

.buttonsImg {
  width: 10%;
}
